<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<appender name="cloud-watch"
		class="io.github.dibog.AwsLogAppender">

		<awsConfig>
			<credentials>
				<accessKeyId>${aws.accessKeyId}</accessKeyId>
				<secretAccessKey>${aws.secretKey}</secretAccessKey>
			</credentials>
			<region>us-east-1</region>
		</awsConfig>

		<createLogGroup>true</createLogGroup>
		<queueLength>100</queueLength>
		<groupName>sailor</groupName>
		<streamName>sailor-logs</streamName>
		<dateFormat>yyyy-MM-dd</dateFormat>

		<layout>
			<pattern>[%X{a} %X{b}] %-4relative [%thread] %-5level %logger{35} -
				%msg %n</pattern>
		</layout>

	</appender>

	<root level="INFO">
        <appender-ref ref="CONSOLE" />
		<appender-ref ref="cloud-watch" />
	</root>




	<!-- Configuration for your local environment <springProfile name="default"> 
		<root level="INFO"> <appender-ref ref="CONSOLE" /> <appender-ref ref="FILE" 
		/> </root> </springProfile> Configuration for Development Environment <springProfile 
		name="dev"> <include resource="logback-prod.xml" /> </springProfile> -->

</configuration>